* {
    margin: 0;
    padding: 0;
}
.container {
    width: 900px;
    margin: auto;
}
.navigation {
    background-color: rgb(244, 244, 244);
    padding: 50px 0;
    /* height: 300px; */
}
.navigation1 {
    /* height: 300px; */
    padding: 50px 0;
}
ul {
    list-style: none;
    height: 60px;
    line-height: 60px;
    width: 900px;
    margin: auto;
}
li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #000;
}
/* p{
    word-wrap: break-word;
    word-break: break-all;
} */
.nav-title {
    margin: 20px 0;
}
.nav-text {
    line-height: 30px;
}
.exsp-text {
    font-weight: bold;
    text-decoration:underline;
    text-underline-offset:5px;
}
.nav-content {
    margin: 30px 0;
}
.nav-content>p {
    margin-bottom: 6px;
}